:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --background-accent-color: #2196f3;
  --white-text-color: #ffffff;
  --primary-background-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --border-color: #eeeeee;
  --icon-color: #afb1b8;
}

.application-form {
  width: 528px;
  height: 581px;
  left: 536px;
  top: 221px;
  outline: solid 1px teal;
  padding: 40px;
}

.application-button {
  width: 200px;
  height: 50px;
  left: 700px;
  top: 712px;

  background: var(--background-accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;

  display: inline-block;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--white-text-color);
}

.form-button {
  display: flex;
  align-items: center;
}

.form-field,
.form-comment,
.form-accept {
  outline: solid 1px green;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
}

.form-field,
.form-comment {
  display: flex;
  flex-direction: column;
}

.form-field input,
.form-comment input {
  padding: 12px 16px;
  border: solid 1px var(--icon-color);
  border-radius: 4px;
}

.form-accept input[type="checkbox"] {
  width: 16px;
  height: 15px;
}

.form-field {
  margin-bottom: 28px;
}

.form-comment {
  margin-bottom: 20px;
}

.form-comment textarea {
  border: solid 1px var(--icon-color);
  border-radius: 4px;
  height: 120px;
  resize: none;
}

.form-accept {
  margin-bottom: 30px;
}

.accept-link {
  color: var(--accent-color);
}

.form-title {
  width: 448px;
  height: 23px;
  left: 576px;
  top: 261px;
  margin-top: 0;
  margin-bottom: 30px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

body {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
}

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
  outline: 2px solid red;
}

/*Logo*/

.logo {
  color: var(--title-text-color);

  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.2;
  /* identical to box height */
  letter-spacing: 0.03px;
  text-decoration: none;
}

/*Navigation*/

.logo-web,
.contacts-nav .link:hover,
.contacts-nav .link:focus,
.site-nav .link:hover,
.site-nav .link:focus,
.site-nav .link.current {
  color: var(--accent-color);
}

.link.current::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 100%;
  background-color: #2196f3;
  border-radius: 2px;
}

.port-under {
  position: relative;
}

.site-nav .link,
.contacts-nav .link {
  display: block;

  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02px;
  text-decoration: none;
}

.site-nav .item + .item {
  margin-left: 50px;
}

.contacts-nav .item + .item {
  margin-left: 30px;
}

.contacts-nav .link {
  color: var(--primary-text-color);
  display: flex;
  align-items: baseline;
}

.contacts-nav {
  margin-left: auto;
}

.logo {
  margin-right: 84px;
}

.item {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*.portfolio-header {
  margin-bottom: 93px;
}*/

.header-border {
  border-bottom: 1px solid var(--border-color);
}

.main-portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.site-nav,
.contacts-nav,
.header,
.nav-logo,
.portfolio-header,
.features .list,
.team,
.clients-flex,
.services-list,
.network-flex,
.projects,
.network,
.footer-blocks,
.buttons-flex {
  display: flex;
}

.nav-logo {
  align-items: baseline;
}

.icon-envelope {
  width: 16px;
  height: 11px;
  margin-right: 10px;
}

.envelope-link:hover .icon-envelope,
.icon-smartphone:hover {
  color: var(--accent-color);
}

.icon-smartphone {
  width: 10px;
  height: 15px;
  margin-right: 10px;
}

/*Hero*/

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06px;
  text-transform: uppercase;
  color: var(--white-text-color);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  margin-top: 0;
  margin-bottom: 30px;
}

.hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-image {
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url("../img/hero/Header-img.jpg");
  background-color: var(--primary-text-color);
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
}

/*Networks*/

.network .link {
  color: var(--primary-text-color);
  text-decoration: none;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.network .link:hover {
  color: var(--accent-color);
}

/*Sections*/

.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03px;
}

.features
/*.ad-projects*/ {
  margin-top: 94px;
}

.clients,
.services,
.ad-team {
  padding-bottom: 94px;
  padding-top: 94px;
}

.client-color {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--icon-color);
  border: 1px solid var(--border-color);
  border-radius: 4px;
  width: 170px;
  height: 90px;
}

.client-color:hover {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

.icon-client1 {
  color: var(--icon-color);
  width: 44px;
  height: 49px;
}

.icon-client2 {
  width: 40px;
  height: 52px;
}

.icon-client3 {
  width: 41px;
  height: 42px;
}

.icon-client4 {
  width: 80px;
  height: 42px;
}

.icon-client5 {
  width: 59px;
  height: 47px;
}

.icon-client6 {
  width: 89px;
  height: 45px;
}

.ad-team {
  background-color: var(--secondary-background-color);
}

/*Lists*/

.list {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  align-items: baseline;
}

/*Features*/

/*.features .list {
  display: flex;
}*/

.features li {
  width: 270px;
  margin-left: 0;
  margin-bottom: 0;
}

.features li:not(:last-child),
.services-list li:not(:last-child),
.team li:not(:last-child),
.clients-flex li:not(:last-child) {
  margin-right: 30px;
}

.features .title,
.service-title {
  margin-top: 0;
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03px;
  text-transform: uppercase;
}

.features .title {
  margin-bottom: 10px;
  margin-top: 30px;
}

.features-block {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: var(--secondary-background-color);
}

.icon-features {
  width: 70px;
  height: 70px;
}

.service-title {
  position: absolute;
  width: 370px;
  height: 70px;
  left: 0;
  bottom: 0;
  background: rgba(47, 48, 58, 0.8);
  text-align: center;
  padding: 27px 82px 27px 82px;
  color: var(--white-text-color);
  margin-bottom: 0;
}

.service-position {
  position: relative;
}

.features .text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03px;
}

.team .title {
  margin-top: 0;
  margin-bottom: 10px;
  padding-top: 30px;
  color: var(--title-text-color);
  text-align: center;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03px;
}

.team .profession {
  text-align: center;
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03px;
}

.item-network {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-network,
.icon-footer {
  width: 20px;
  height: 20px;
}

.icon-footer {
  fill: var(--white-text-color);
}

.icon-network {
  fill: var(--icon-color);
}

/*.icon-network:hover {
  fill: var(--white-text-color);
}*/

.item-network:hover .icon-network {
  fill: var(--white-text-color);
}

.item-network:hover {
  background-color: var(--background-accent-color);
}

.text-hover {
  fill: var(--icon-color);
}

.client-color:hover .text-hover {
  fill: var(--accent-color);
  border-color: var(--background-accent-color);
}

.client-color {
  transition-property: color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.projects .title {
  margin-top: 0;
  margin-bottom: 4px;
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06px;
}

.projects .area {
  margin-top: 0;
  color: var(--primary-text-color);

  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03px;
}

.projects .description {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03px;
}

.description {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 322px;
  height: 168px;

  opacity: 0;
  color: var(--white-text-color);
}

.project-position {
  position: relative;
  overflow: hidden;
}

.project-position::before {
  /*display: inline-block;*/
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  opacity: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item:hover .project-position::before {
  opacity: 1;
  transform: translateY(0);
}

.item:hover .description,
.item:focus {
  opacity: 1;
}

.projects .link {
  text-decoration: none;
}

/*Services*/

.services-list li {
  width: 370px;
}

/*Team*/

/*.team,
.clients-flex,
.services-list,
.network-flex {
  display: flex;
}*/

.network-flex li {
  width: 44px;
}

.network-flex {
  width: 206px;
  margin-left: 32px;
  margin-right: 32px;
  margin-bottom: 24px;
}

.network-flex li:not(:last-child) {
  margin-right: 10px;
}

.clients-flex li {
  display: flex;
  justify-content: center;
  align-items: center;
  /*width: 170px;
  height: 90px;
  border: 1px solid var(--border-color);
  border-radius: 4px;*/
}

/*Projects*/

.projects {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.projects .item {
  width: 370px;
  /*margin-right: 30px;*/
  margin-left: 0;
  margin-bottom: 30px;
}

.projects .item:nth-child(3n) {
  margin-right: 0;
}

.projects .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.projects-info {
  width: 370px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-top: 20px;
  border-right: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.team-border {
  width: 270px;
  border-right: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
}

.image-block {
  display: block;
}

/* Buttons*/

.main-button {
  color: var(--white-text-color);
  background-color: var(--background-accent-color);
  border: 0;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06px;
  border-radius: 6px;
  padding: 10px 34px;
  min-width: 200px;
}

.button {
  color: var(--title-text-color);
  background-color: var(--secondary-background-color);
  font-family: inherit;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03px;
  border-radius: 6px;
  padding: 6px 22px;
  min-width: 73px;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover {
  color: var(--white-text-color);
  background-color: var(--accent-color);
}

.buttons-flex {
  /*display: flex;*/
  justify-content: center;
}

.buttons {
  margin-bottom: 50px;
}

/*Footer*/

footer {
  background-color: #2f303a;
}

.footer-blocks {
  /*display: flex;*/
  align-items: baseline;
}

.footer-links,
.footer-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03px;
}

.footer-links,
.footer-text {
  font-style: normal;
  margin-bottom: 9px;
}

.footer-links {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.footer-text,
.logo-studio,
.footer-sign {
  color: var(--white-text-color);
}

.footer-sign {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03px;
  text-transform: uppercase;
}

.footer {
  padding-top: 40px;
  padding-bottom: 28px;
}

.join-margin {
  margin-left: 69px;
  margin-bottom: 20px;
}

.sign-margin {
  margin-left: 94px;
}

.footer-logo {
  margin-bottom: 8px;
}

.footer-network {
  /*display: flex;*/
  width: 206px;
  margin-left: 69px;
}

.footer-network li:not(:last-child) {
  margin-right: 10px;
}

.footer-network li {
  width: 44px;
}

.form-footer {
  margin-left: 94px;
  margin-top: 20px;
}

.form-footer input {
  background-color: #2f303a;
  border: solid 1px rgba(255, 255, 255, 0.3);
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 4px;
  width: 358px;
  color: rgba(255, 255, 255, 0.3);
}

.form-footer label {
  display: flex;
  align-items: center;
}

.button-footer {
  width: 200px;
  height: 50px;
  left: 1185px;
  top: 2779px;
  background: var(--background-accent-color);
  /*box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);*/
  border-radius: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  color: var(--white-text-color);
  border: 0;

  display: inline-block;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}
